.spiner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: black;
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-out;
  background-color: rgb(224, 224, 224);
}

.spiner-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spiner-container>* {
  grid-area: 1/1;
  z-index: 2;
}

.spinning-image {
  animation: spin 3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
  justify-self: center;
}
