.navbar {
  position: sticky;
  top: 0;
  background: #FFFFFF88;
  height: 2em;
  z-index: 1000;
  cursor: initial;
  border-bottom: solid white 1px;

}

.navbar>ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  height: 100%;
  margin: 0;
}

.navbar>ul>li {
  text-decoration: underline;
  cursor: pointer;
}
