.navbar {
  position: sticky;
  top: 0;
  background: #0000;
  color: white;
  height: 4em;
  z-index: 1000;
  cursor: initial;
  border-bottom: solid white 1px;
  margin-top: -4em;
}

.navbar>ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar>ul>li {
  text-decoration: underline;
  font-size: 24px;
  cursor: pointer;
  font-weight: 800;
}

@media (max-width: 768px) {
  .navbar>ul>li {
    font-size: 18px;
  }

  .navbar {
    height: 2em;
  }
}
