.spin-90 {
	width: 100%;
	height: 100px;
	animation: spin-unhover 1s linear;

	z-index: 100;
	transform: rotate(var(--ugao));
}

.spin-90-container {
	display: flex;
	align-items: center;
}

@property --ugao {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: true;
}

@keyframes spin-unhover {
	0% {
		--ugao: -100deg;
	}

	100% {
		--ugao: 0deg;
	}
}

@media (max-width: 768px) {
	.spin-90 {
		height: 50px;
	}
}
