.spin-90 {
	width: 100%;
	height: 100px;

	transform-origin: 39% 50%;
	z-index: 100;
	transform: rotate(0deg);
	transition: transform 1s ease-out;
}

.spin-90:hover {
	transform: rotate(-100deg);
}

.spin-90-container {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.spin-90 {
		height: 50px;
	}
}
