.cursor {
  color: black;
  animation: blink 1s step-end infinite;
  font-weight: bold;
}

.typeing-text {
  color: white;
  font-size: 5vw;
  font-weight: 200;
  text-align: center;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
