#root {
  margin: 0;
}

main {
  opacity: 0;
  transition: opacity 0.3s ease-in;
  box-sizing: border-box;
}

main.show {
  opacity: 1;
}

.brand-name {
  display: flex;
  flex-direction: row;
  place-content: center;
  align-self: center;
  z-index: 100;
}

.brand-name>h1 {
  text-align: center;
  font-size: 8vw;
  z-index: 1;
  color: white;
  font-weight: 800;
}

.home-section {
  height: 100%;
}

.home-photo {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  justify-self: center;
  z-index: 0;
}

.home-section {
  display: grid;
}

.gallery-section {
  display: grid;
}

.gallery-section>* {
  grid-area: 1/1;
  height: 100vh;
}

.home-section>* {
  grid-area: 1/1;
}

.gallery-container {
  height: 100%;
  width: 100%;
}

.gallery-container {
  column-count: 3;

  column-gap: 10px;
  row-gap: 20px;

  width: 90%;
  margin: 20px auto;
}

.text {
  margin: 0 10%;
}

p {
  margin: 10px 10%;
}

.gallery-container>img {
  display: block;
  height: auto;
  width: 100%;
  margin: 20px 0;
  justify-self: center;
}

@media (max-width: 768px) {
  .gallery-container>img {
    width: 100%;
  }

  .gallery-container {
    column-count: 2;
    margin: 0 auto;
  }

  .gallery-container>img:nth-child(2) {
    margin-top: 0;
  }

  .gallery-container {
    height: 100%;
  }

  .home-photo {
    height: 100vh;
  }
}
